<div class="my-wrapper">
    <div id="container">
        <a class="ui black label" href="https://nodejs.org/" target="_blank">Node js</a>
        <div class="ui black message" style="text-align: center">
            <div class="header">
                <h2> Lorem Ipsum generator!</h2>
            </div>
            <p></p>
            <a class="ui  image label" href="https://github.com/SimHub/Real-Nutrition" target="_blank">
                <img style="background: #ffffff" src="img/Octocat.png" alt="github">
                SimHub
            </a>
        </div>
        <form id="form" class="ui warning form segment">
            <div class="fields">
                <a href="/lorem" class="ui huge positive button">Try it!</a>
            </div>
        </form>
        <p><small>&copy; 2015 lackmann.simon@gmail.com</small></p>
    </div>
</div>